<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入properties文件，此时就可以${属性名}的方式访问属性值-->
    <properties resource="jdbc.properties"></properties>
    <!-- 引入类型别名，类型别名不区分大小写   -->
    <typeAliases>
        <!-- 只要用到这个类的地方，都可以使用User代替，如果不设置，就默认类名       -->
<!--        <typeAlias type="com.chasion.pojo.User" alias="User"></typeAlias>-->
        <!--以包为单位，设置改包下所有的类型都拥有默认的别名，即类名且不区分大小写-->
        <package name="com.chasion.pojo"/>
    </typeAliases>
    <!--设置连接数据库的环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
<!--        <mapper resource="mappers/UserMapper.xml"/>-->
        <!--
       以包为单位，将包下所有的映射文件引入核心配置文件
       注意：
           1. 此方式必须保证mapper接口和mapper映射文件必须在相同的包下
           2. mapper接口要和mapper映射文件的名字一致
       -->
        <package name="com.chasion.mapper"/>
    </mappers>
</configuration>